.container{
    margin-bottom: 90px;
}

.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #DE2A68;
}
.buy-now-button{
   background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100% );
   color: #fff;
   border: none;
   padding: 9px 25px;
   border-radius: 8px;
   cursor: pointer;

}
.cat1{
    background-color: #FC992A;
 

}
.cat2{
    background-color: #FF377F;
    ;
}
.cat3{
    background-color: #2A46FF;
    
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 12px;
}
.cetagories h1{
    color: #fff;
}
.cetagories img{
    width: 100px;
    margin-left: 60px;
}
.card{
    border: none;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 8px;
}
#subscribe{
    height: 300px;
} 
#subscribe p{
    color: gray;
}
footer{
    text-align: center;
}
